{% extends 'base.html' %}

{% block head %}
<title> Agricultural Output Calculator </title>
{% endblock %}

{% block body %}
<div class="modelInput">
    <h1> Rice Production Forecast (Yearly) </h1>
    <p> If data is not known, input 0. </p>
    <form action="/proxy/5000/" method='POST'> 
        <table class="questionnaire">
            <tr>
                <th> Data Description </th>
                <th> Input Value </th>
            </tr>
            <tr>
                <td>
                    <h4> Province </h4>
                    <p> Province to calculate for. </p>
                </td>
                <td>
                    <select id="prov" name="prov">
                        <option value="1"> North Sumatra </option>
                        <option value="2"> Central Kalimantan </option>
                        <option value="3"> Aceh </option>
                        <option value="4"> Banten </option>
                        <option value="5"> Papua </option>
                    </select><br>
                </td>
            </tr>
            <tr>
                <td>
                    <h4> Maximum Recorded Temperature: </h4>
                    <p> Maximum recorded temperature of the four-month period between January to April. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="maxTemp" name="maxTemp" min="0" max="50" required><br>
                </td>
            </tr>
            <tr>
                <td>
                    <h4> Minimum Recorded Temperature: </h4>
                    <p> Average minimum temperature of the 6-month period between Oct(last) to April. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="minTemp" name="minTemp" required><br>    
                </td>
            </tr>
            <tr>
                <td>
                    <h4> Average Temperature: </h4>
                    <p> Average temperature of the four-month period between January to April.   </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="avgTemp" name="avgTemp" min="0" max="50" required><br>
                </td>
            </tr>      
            <tr>
                <td>
                    <h4> Relative Humidity: </h4>
                    <p> Average relative humidity over the four-month period. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="humRel" name="humRel" min="0" max="100" required><br>
                </td>
            </tr>   
            <tr>
                <td>
                    <h4> Average Rainfall: </h4>
                    <p> Average rainfall over the four-month period. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="avgRain" name="avgRain" min="0" required><br>    
                </td>
            </tr>       
            <tr>
                <td>
                    <h4> Sun Duration: </h4>
                    <p> Average sun duration, expressed as a fraction (from 0 to 1) throughout the four-month period. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="sunDur" name="sunDur" min="0" max="1" required><br>
                </td>
            </tr>       
            <tr>
                <td>
                    <h4> Maximum Recorded Wind Speed: </h4>
                    <p> The maximum recorded wind-speed over the four-month period. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="maxWind" name="maxWind" min="0" required><br>
                </td>
            </tr>   
            <tr>
                <td>
                    <h4> Average Wind Speed: </h4>
                    <p> The average wind-speed over the four-month period. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="avgWind" name="avgWind" min="0" required><br>
                </td>
            </tr>   
        </table>
            <input type="submit" value="Calculate Rice Output">

    </form>
</div>

<div class="modelOutput">
    <h1> Previous Predictions</h1>
    <p> To obtain estimated total production, multiply the productivity by the amount of land area dedicated to farming. </p>
    <table>
        <tr>
            <th> No. </th>
            <th> Province </th>
            <th> Data </th>
            <th> Predicted Output </th>
            <th> Date Created </th>
        </tr>
        {% for output in AgriOutputs %}
        <tr>
            <td> {{ output.id }}</td>
            <td> {{ output.province }}</td>
            <td> 
                <table class="innerTable">
                    <tr>
                        <th> Maximum Temp.</th>
                        <td> {{ output.maximumTemperature }}</td>
                    </tr>
                    <tr>
                        <th> Minimum Temp.</th>
                        <td> {{ output.minimumTemperature }}</td>
                    </tr>
                    <tr>
                        <th> Average Temp. </th>
                        <td> {{ output.averageTemperature }}</td>
                    </tr>
                    <tr>
                        <th> Relative Humidity </th>
                        <td> {{ output.humidityRelative }}</td>
                    </tr>
                    <tr>
                        <th> Average Rainfall</th>
                        <td> {{ output.averageRainfall}}</td>
                    </tr>
                    <tr>
                        <th> Sunshine Duration </th>
                        <td> {{ output.sunshineDuration }}</td>
                    </tr>
                    <tr>
                        <th> Maximum Windspeed </th>
                        <td> {{ output.maximumWindspeed }}</td>
                    </tr>
                    <tr>
                        <th> Average Windspeed </th>
                        <td> {{ output.averageWindspeed }}</td>
                    </tr>
                </table>
            </td>
            <td style="max-width: 300px"> The predicted performance of paddy fields is {{ output.predictedOutput }} total quintals/hectare. </td>
            <td> {{ output.date_created.date() }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
