{% extends 'base.html' %}

{% block head %}
<title> Agricultural Output Calculator </title>
{% endblock %}

{% block body %}
<!-- Split the page into two divs, the input and the output-list. -->
<div class="modelInput">
    <h1> Rice Production Forecast (Yearly) </h1>
    <p> If data is not known, input 0. </p>
    <!-- Main form that sends data to the backend processing. -->
    <form action="/proxy/5000/" method='POST'> 
        <table class="questionnaire">
            <tr>
                <th> Data Description </th>
                <th> Input Value </th>
            </tr>
            <tr>
                <td>
                    <h4> Province </h4>
                    <p> Province to calculate for. </p>
                </td>
                <td>
                    <!-- values will be processed in backend. -->
                    <!-- pass numerical value to dict.  -->
                    <select id="prov" name="prov">
                        <option value="1"> North Sumatra </option>
                        <option value="2"> Central Kalimantan </option>
                        <option value="3"> Aceh </option>
                        <option value="4"> Banten </option>
                        <option value="5"> Papua </option>
                    </select><br>
                </td>
            </tr>
            <tr>
                <td>
                    <h4> Maximum Recorded Temperature (°C) : </h4>
                    <p> Maximum recorded temperature of the four-month period between January to April. </p>
                </td>
                <td>
                    <!-- General note: setup client-side validation. But for more robust use in future, should setup server-side validation to make sure the DB is not vuln. -->
                    <input type="number" step="0.01" id="maxTemp" name="maxTemp" min="0" max="50" required><br>
                </td>
            </tr>
            <tr>
                <td>
                    <h4> Minimum Recorded Temperature (°C) : </h4>
                    <p> Average of minimum temperature in the 6-month period between Oct(previous year) to April. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="minTemp" name="minTemp" required><br>    
                </td>
            </tr>
            <tr>
                <td>
                    <h4> Average Temperature (°C) : </h4>
                    <p> Average of average temperature monthly in the 6-month period between Oct(previous year) to April.   </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="avgTemp" name="avgTemp" min="0" max="50" required><br>
                </td>
            </tr>      
            <tr>
                <td>
                    <h4> Relative Humidity (%) : </h4>
                    <p> Average relative humidity over the 6-month period. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="humRel" name="humRel" min="0" max="100" required><br>
                </td>
            </tr>   
            <tr>
                <td>
                    <h4> Average Rainfall (mm/day) : </h4>
                    <p> Average daily rainfall over the 6-month period. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="avgRain" name="avgRain" min="0" required><br>    
                </td>
            </tr>       
            <tr>
                <td>
                    <h4> Sun Duration: </h4>
                    <p> Average sun duration, expressed as a fraction (from 0 to 1) throughout the 6-month period. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="sunDur" name="sunDur" min="0" max="1" required><br>
                </td>
            </tr>       
            <tr>
                <td>
                    <h4> Maximum Recorded Wind Speed (m/s): </h4>
                    <p> The maximum recorded wind-speed over the 6-month period. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="maxWind" name="maxWind" min="0" required><br>
                </td>
            </tr>   
            <tr>
                <td>
                    <h4> Average Wind Speed (m/s): </h4>
                    <p> The average wind-speed over the four-month period. </p>
                </td>
                <td>
                    <input type="number" step="0.01" id="avgWind" name="avgWind" min="0" required><br>
                </td>
            </tr>   
        </table>
            <input type="submit" value="Calculate Rice Output">

    </form>
</div>

<div class="modelOutput">
    <h1> Productivity Prediction  </h1>
    <p> To obtain estimated total production, multiply the productivity by the amount of land area dedicated to farming. </p>
    {% if AgriOutputs %}
    <table>
        <tr>
            <th> No. </th>
            <th> Province </th>
            <th> Data </th>
            <th> Predicted Output </th>
            <th> Date Created </th>
        </tr>
        <tr>
            <td> {{ AgriOutputs[-1].id }}</td>
            <td> {{ AgriOutputs[-1].province }}</td>
            <td> 
                <table class="innerTable">
                    <tr>
                        <th> Maximum Temp.</th>
                        <td> {{ AgriOutputs[-1].maximumTemperature }}</td>
                    </tr>
                    <tr>
                        <th> Minimum Temp.</th>
                        <td> {{ AgriOutputs[-1].minimumTemperature }}</td>
                    </tr>
                    <tr>
                        <th> Average Temp. </th>
                        <td> {{ AgriOutputs[-1].averageTemperature }}</td>
                    </tr>
                    <tr>
                        <th> Relative Humidity </th>
                        <td> {{ AgriOutputs[-1].humidityRelative }}</td>
                    </tr>
                    <tr>
                        <th> Average Rainfall</th>
                        <td> {{ AgriOutputs[-1].averageRainfall }}</td>
                    </tr>
                    <tr>
                        <th> Sunshine Duration </th>
                        <td> {{ AgriOutputs[-1].sunshineDuration }}</td>
                    </tr>
                    <tr>
                        <th> Maximum Windspeed </th>
                        <td> {{ AgriOutputs[-1].maximumWindspeed }}</td>
                    </tr>
                    <tr>
                        <th> Average Windspeed </th>
                        <td> {{ AgriOutputs[-1].averageWindspeed }}</td>
                    </tr>
                </table>
            </td>
            <td style="max-width: 300px"> The predicted productivity of paddy fields is {{ AgriOutputs[-1].predictedOutput }} quintals/hectare. </td>
            <td> {{ AgriOutputs[-1].date_created.date() }}</td>
        </tr>
    </table>
    {% else %}
    <p>No predictions available yet. Please calculate a new prediction.</p>
    {% endif %}
</div>

{% endblock %}
